# =============================
# ENVIRONMENT
# =============================
.env
*.env
.myenv
myenv

# =============================
# PYTHON
# =============================
__pycache__/
*.pyc
*.pyo

# =============================
# DJANGO
# =============================
db.sqlite3
staticfiles/

# =============================
# VIRTUAL ENV
# =============================
env/
venv/

# =============================
# LOGS
# =============================
*.log
logs/
stderr.log

# =============================
# TEMP
# =============================
tmp/

# =============================
# EDITOR
# =============================
.history/
.vscode/

# =============================
# BACKUPS
# =============================
*.bak
*.zip
.venv/
