# Core Django & Utilities
Django>=4.2.29
asgiref==3.11.1
django-ckeditor-5==0.2.20
django-widget-tweaks==1.5.1
python-decouple>=3.8
sqlparse==0.5.5
tzdata>=2026.1
dotenv==0.9.9
python-dotenv==1.2.2

# Database & Storage
dj-database-url==3.1.2
psycopg
psycopg-binary
psycopg2-binary
redis==7.2.1
whitenoise==6.12.0

# UI & Styling
django-jazzmin>=3.0.3
django-bootstrap-modal-forms==3.0.5
django-bootstrap3==26.1
django-crispy-forms==2.5
django-forms-bootstrap==3.1.0
colorama==0.4.6
fonttools==4.61.1

# Background Tasks
celery==5.6.2
django-celery-beat==2.9.0
amqp==5.3.1
billiard==4.2.4
kombu==5.6.2
vine==5.1.0

# Security & Networking
django-allauth==65.14.3
django-csp==4.0
cryptography==46.0.5
pyOpenSSL==25.3.0
certifi==2026.2.25
idna==3.11
requests==2.32.5
urllib3==2.6.3
google-api-python-client>=2.100.0
google-auth>=2.25.0
google-auth-httplib2>=0.2.0

# Images & Documents
pillow>=12.1.1
reportlab==4.4.10
weasyprint==68.1
cssselect2==0.9.0
tinycss2==1.5.1
tinyhtml5==2.0.0
pydyf==0.12.1
pyphen==0.17.2

# Processing & Tools
nltk==3.9.3
joblib==1.5.3
regex==2026.2.28
tqdm==4.67.3
chardet==7.0.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
python-crontab==3.3.0
python-dateutil==2.9.0.post0
MarkupSafe==3.0.3
Werkzeug==3.1.6
packaging==26.0
setuptools==82.0.0
six==1.17.0
typing_extensions==4.15.0
tzlocal==5.3.1
wcwidth==0.6.0
zopfli==0.4.1
brotli==1.2.0
brotlicffi==1.2.0.0
cffi==2.0.0
pycparser==3.0
webencodings==0.5.1
django-extensions==4.1
django-timezone-field==7.2.1
prompt_toolkit==3.0.52